.error-box{
    display: flex;
     flex-direction: column;
     width: 100%;
     max-width: 1200px;
     height: calc(100vh - 79px);
     background-color: rgba(204, 211, 204, 0.479);
     justify-content: center;
     align-items: center;
     padding: 15px 2%;

}
.error-box h1{
    height: auto;
}